
*{
    margin: 0px;
    /*background-color: rgb(147, 240, 190);*/
    padding: 0px;
}
body{
    background-color: darkblue;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 136, 220)) ;
    width: 100%;
}

p{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.navbar{
    height: 65px;
    z-index: 99;
    overflow: hidden;
    background-color: darkblue;
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.337);
}

.navbar .item{
    float: right;
    background-color: darkblue;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 24px;
    width: 125px;
    text-decoration: none;
    letter-spacing: 4px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar .item:hover{
    transition: ease-in 200ms;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0) 50%, rgba(10, 111, 174, 0.651));
}

.navbar li{
    list-style-type: none;
}

.logo{
    margin: 0px;
    object-fit: cover;
    width: 55px;
    height: 55px;
    float: left;
    border:solid 5px darkblue;
    position: fixed;
    background-color: darkblue;
}

.box{
    width:100%;
    overflow:auto;
}

.card{
    float: left;
    width: 42.5%;
    background-color: rgba(0, 0, 0, 0.27);
    height: 500px;
    margin-left: 5%;
    margin-top: 100px;
    text-align: center;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0) 0%, rgba(0, 0, 0, 0.861));
    background-size: cover;
    border-bottom:  rgba(10, 111, 174, 0.651);
    border-top: rgba(0, 0, 0, 0.27);
    background-position: center center;
    margin-bottom: -50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.337);
}
.card p{
    text-align: left;
    padding-top: 450px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0);
}
.card:hover{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(72, 72, 72));
}

#one.card{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0) 0%, rgba(0, 0, 0, 0.861)), url(Images/Blue.JPG);
}
#one.card:hover{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(72, 72, 72)), url(Images/Blue.JPG);
}


#two.card{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0) 0%, rgba(0, 0, 0, 0.861)), url(Images/Red.JPG);
}
#two.card:hover{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(72, 72, 72, 1)), url(Images/Red.JPG);
}

#three.card{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0) 0%, rgba(0, 0, 0, 0.861)), url(Images/Tree.JPG);
}
#three.card:hover{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(72, 72, 72, 1)), url(Images/Tree.JPG);
}

#four.card{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0) 0%, rgba(0, 0, 0, 0.861)), url(Images/Store.JPG);
}
#four.card:hover{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(72, 72, 72, 1)), url(Images/Store.JPG);
}

.bottom{
    height: 180px;
    width: 100%;
    background-color: darkblue;
    margin-top: 100px;
    float: left;
    box-shadow: 0px -10px 5px rgba(0, 0, 0, 0.337) inset;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.337);
    bottom: 0px;
}
.bottom a, p{
    background-color: rgba(240, 248, 255, 0);
    margin: 20px;
}

@media only screen and (max-width: 800px){
    .card{
        float: none;
        width: 87%;
    }

    .navbar .item{
        display: none;
    }
}